*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --mais-escuro: #000;
    --claro: #e2e8f0;
    --vidro: rgba(255,255,255,0.1);
}

body{
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao{
    position: fixed;
    top: 0;
    background:rgba(15,23,42,0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after{
    content:"";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
}

.cabecalho{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil{
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px rgba(79, 70, 229 , 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1{
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.cabecalho-sub{
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre {
  padding: 6rem 2rem;
}

.sobre-titulo {
  font-size: 3rem;
  text-align: center;
  color: var(--claro);
  margin-bottom: 20px;
}

.sobre-container {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.05);
}

.sobre-paragrafo{
    text-align: center;
    font-size: 1.2rem;
}

.projetos{
    padding: 6rem 2rem;
}

.projetos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-card{
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
    backdrop-filter: blur;
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 8px 25px rgba(79, 70, 229, 0.25);
    transform: translateY(-8px) scale(1.02);
}

.projetos-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto
}

.projetos-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info-projetos{
    margin-bottom: 5px;
}

.paragrafo-projeto{
    color: rgba(226,232,240, 0.8);
    line-height: 1.25rem;
}

.caixa-texto-projeto{
    padding: 1.5rem;
}

.contatos{
    padding: 6rem 2rem;
}

.contatos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur;
    padding: 2rem;
    border: 1px solid var(var(--vidro));
    border-radius: 16px;
}

.campo-form{
    width: 100%;
    padding: 1rem;
    background: rgba(255,255,255,0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(var(--vidro));
    outline: none;
}

.campo-form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 8px 25px rgba(79, 70, 229, 0.3);
}

.grupo-form{
    margin-bottom: 1.5rem;
}

.botao-form{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria),var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;

}

.botao-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 25px rgba(79, 70, 229, 0.4);
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
    var(--mais-escuro)
}

@keyframes flutuar{
    0%, 100%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(-20px);
    }
}

.links-contato {
  margin-top: 2rem;
  text-align: center;
}

.texto-contato {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 0.8rem;
}

.botao-github {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #24292e;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.3s;
  font-weight: 500;
}

.botao-github:hover {
  background-color: #333;
}

.icone-github {
  width: 24px;
  height: 24px;
  filter: invert(1);
}
